<div id="drawer-modal" class="fixed top-0 left-0 z-50 h-full transition-transform -translate-x-full bg-white w-80 dark:bg-gray-800" data-drawer-target="drawer">
  <div class="absolute top-0 left-0 w-full p-2 pl-4 bg-white flex justify-between items-center border-b dark:bg-gray-800 dark:text-white">
    <span class="font-semibold">Aronnax</span>
    <label for="drawer-toggle" class="cursor-pointer text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg w-8 h-8 flex items-center justify-center dark:hover:bg-gray-600 dark:hover:text-white">
      <i class="fa-solid fa-xmark"></i>
    </label>
  </div>

  <div class="h-full pt-12">
    <div class="h-full p-4 overflow-y-auto">
      <%= turbo_frame_tag "drawer-content" do %>
        loading...
      <% end %>
    </div>
  </div>
</div>
