@import "actiontext";

@import "components/animated-background";
@import "components/buttons";
@import "components/cards";
@import "components/forms";
@import "components/lists";
@import "components/tags";
@import "components/drawer";
@import "components/scrollbar";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* geranal */

body {
  @apply text-gray-900;
}

/* headings */

h1 {
  @apply text-3xl mb-3;
}

h2 {
  @apply text-2xl mb-3;
}

h3 {
  @apply text-xl mb-3;
}

/* links */

a {
  @apply text-blue-600 hover:text-blue-700;
}

/* bottom nav */

.bottom-nav {
  width: calc(100% - 34px);
  left: calc(50% - 17px);
  transform: translateX(calc(-50% + 12px));
}
