<label for="sidebar_toggle" class="lg:hidden btn btn-alternative p-2 rounded-full fixed right-4 bottom-5 z-[1000]">
  <span class="w-[25px] h-[25px] text-center">
    <i class="fa-solid fa-bars text-[25px]"></i>
  </span>
</label>
